/* Write your CSS here */
.bg {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #1e293b;
}
.card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  font-family: roboto;
}
.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.country {
  color: #1e293b;
  font-size: 25px;
  font-weight: bold;
}
.select {
  color: #000000;
  font-weight: bold;
  padding: 5px;
  margin-right: 5px;
}
.para {
  color: #323f4b;
}
